#__next {
	height: 100%;
	
}
.ant-layout {
	min-height: 100%;
}
.ant-layout-header {
	padding-left: 0;
	padding-right: 0;
}
.ant-layout-content {
	background: #fff;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
}

.root {
	display: flex;
	align-items: flex-start;
	padding: 20px 0;
	margin: 0 auto;
}